/* -------------------------- Global style */

/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Roboto&display=swap');

body {
    background: url('/media/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: whitesmoke;
    font-family: Roboto;
}

/* -------------------------------- Header */

.bg-black {
    background-color: black;
}

.text-orangered {
    color: orangered;
}

.logo-font {
    font-family: Merienda;
}
