/* -------------------------- Global style */

/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Roboto&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: whitesmoke;
    font-family: Roboto;
    height: calc(100vh - 56px);
}

/* -------------------------------- Header */

.bg-black {
    background-color: black;
}

.text-orangered {
    color: orangered !important;
}

.logo-font {
    font-family: Merienda;
}

.header-container{
    padding-top: 56px;
}
