<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-orangered" href="{% url 'home' %}">Home</a>
          </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-orangered dropdown-toggle" href="#" id="all-products-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu Options
            </a>
            <div class="dropdown-menu" aria-labelledby="all-products-link">
                <a class="dropdown-item" href="{% url 'products' %}?category=pasta_salad">Cold Pasta/Salads</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=sandwiches_wraps">Sandwiches/Wraps</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=fruit_snacks">Fruit/Snacks</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=drinks">Drinks</a>
                <a class="dropdown-item" href="{% url 'products' %}">All Products</a>
            </div>
        </li>
    </ul>
</div>